html {
  font-size: 18px;
}

* {
    box-sizing: border-box;
}


header {
    background-image: url("../kuvat/kellot.jpg");
    background-position: bottom; 
    background-size: cover;
    height: 600px;    
    width: 100%;   
    border: 0px;
    
    
}

header .otsikko h1 {
    color: whitesmoke;
    position: bottom;
    opacity: 0.9;
    position: relative;
    text-transform: uppercase;
    top: 500px;
    text-align: center;
    /*font-size: 40px;*/
    font-size: 2.5em;
    
}
.mustaPalikka {
    background-color: rgb(43, 41, 41);
    width: 100%;
    height: 50px;
    border: solid;
    border-color: rgb(43, 41, 41);
    margin: 0;
    list-style-type: none;
    
}    
.mustaPalikka ul li {
    
    margin: 5px;
    padding: 5px;
    color: whitesmoke;
    position: sticky;
    top: 0;
    
}
nav {
    position: sticky;
    top: 0;
    
}    
       

.mustaPalikka li {
    
    color: whitesmoke;
    position: sticky;
    top: 0;      

}
    
.mustaPalikka a {
    float: left;
    display: block;
    padding: 8px;
    text-decoration: none;
    color: whitesmoke;
    margin: 5px;    
    
}
.mustaPalikka li a:hover:not(.active) {
    background-color: #111;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 100ms;
  }
  
.active {
    background-color: rgb(105, 101, 105);
}


body {
    margin: 0px;
    /*text-align: center;*/
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*text-align: left;   
    list-style-position: inside;*/
       

}

.accordion {
    /*background-color: rgb(61, 41, 61);*/
    /*color: whitesmoke;*/
    cursor: pointer;
    padding: 18px;
    width: 58%;
    text-align: left;
    border: 1;
    outline: none;
    transition: 0.4s;
    opacity: 0.8;
  }
  
  
  .panel {
    padding: 0 18px;
    /*background-color: rgb(61, 41, 61);*/
    display: none;
    overflow: hidden;
    width: 56%;
    opacity: 0.8;
  }
  footer {
    background-color: rgb(43, 41, 41);
    padding: 0px;
    bottom: 0;
    width: 100%;
    /*position: sticky;*/
    height: 40px;
    
  }
  footer h6 {
      color: whitesmoke;
      text-align: center;
      position: relative;
      padding-top: 15px;
      
      
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    
  }
  /*Käytä kuvien kanssa näitä*/
  /*.container {
    width: 50%;
    height: 200px;
    overflow: hidden;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    display: block;
  }*/

  #fantasiakaupungit img {
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;

  }
  @media screen and (max-width: 850px) {
    .mustaPalikka a, .mustaPalikka ul li, .mustaPalikka {
      float: none;
      width: 100%;
      height: auto;
    }
    header .otsikko h1 {
      font-size: 1.2rem;    
      top: 250px;
    }
    .bottomNav a {
      font-size: 0.4rem;
    }
    

  }
  @media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
    .mustaPalikka a, .mustaPalikka ul li, .mustaPalikka {
      float: none;
      width: auto;
      height: auto;
      padding: 8px;
      
    }
    html {
      font-size: 50px;
    }
    header .otsikko h1 {
      font-size: 1.2rem;
      position: top;
      
    }
    footer {
      height: auto;
      
    }
    
  }

  .teksti {
    width: auto;
    height: auto;
    text-align: center justify;
    margin-left: 100px;
    margin-right: 100px;
  }
  .paivakirjaTeksti {
    width: auto;
    height: auto;
    text-align: center justify;
    margin-left: 100px;
    margin-right: 100px;
  }

  .bottomNav {
    border: 2px solid black;
    border-radius: 5px;
    position: sticky;
    width: 100px;
    /*height: 60px;*/
    bottom: 50px;   
    text-align: center;
    float: right;
    opacity: 0.8;
    /*margin-top: 100px;*/



  }
  .bottomNav a {
    text-decoration: none;
    color: black;
    
  }
  .bottomNav i {
    
  }
  #mainos {
    text-decoration: none;
  }
  
